<header>
    <div class="container header">
        <div class="header-menu">
               <ul class="nav-bar">
                   <li>
                    <a routerLink=''>Home</a>
                   </li>
                   <li>
                       <a routerLink="/about">About me</a>
                       </li>
                   <li>
                    <a routerLink="/experience">Experience</a>   
                    </li>
                   <li>
                    <a routerLink="/project">
                        Projects</a>                    
                    </li>
                   <li>
                       <a routerLink="/contact">
                        Contact me
                       </a>
                   </li>
               </ul>
        </div>
    </div>
</header>