<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="home-page">
                    <div class="home-page__left">
                    <p class="home-page__greeting">Hello, my name is
                        <span>Iryna Kosynienko</span> </p>
                        <div>
                            <a href="https://www.linkedin.com/in/iryna-kosynienko-9605ab16b/"><i class="fab fa-linkedin-in home-page__icon "></i></a>
                            <a href="https://github.com/IrynKo"><i class="fab fa-github home-page__icon "></i></a>
                    </div>
                        <button class="home-page__button" type='button'><a  href="../../assets/CV_Front-End.docx"  download>Download CV</a>
                            </button>
                    </div>
                    <div class="home-page__right">
                        <div class="home-page__left-square">
                        </div>
                        <img class="home-page__foto"  src="../../assets/img/fotoPNG.png" width="50%" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>